body {
  font-family: "ff-dagny-web-pro";
}

h1, h2, h3, h4, h5 {
  font-family: "ff-dagny-web-pro";
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}


.wrapper {
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
}

.title-area {
  padding: 20px 0;
}

.title {
  height: 500px;
  padding: 160px 0 0 0;
}

.title h1 {
    text-align: center;
    color: #0974a4;
}

.title h2 {
  text-align: center;
  color: #7b7c80;
}

.title > .columns {
  vertical-align: middle;
  height: 300px;
}

.title img {
  height: 110px;
}

.title p {
  text-align: center;
}

.middle-row {
  padding: 50px 0;
  background: #0273a3 url(../img/pattern.png);
}

i {
  font-size: 3.5rem;
  color: #e05857;
}

.middle-row p {
  text-align: center;
}

.middle-row h3 {
  text-align: center;
  font-size: 1em;
}

.middle-row .columns {
  padding: 25px 0;
  height: 250px;
}

.middle-row .columns:hover {
  background: rgba(0,0,0,0.25);
}

.middle-row h2{
  color: #fff;
  text-align: center;
}

.middle-row .columns h3,
.middle-row .columns h3 a {
  color: #fff;
}

.middle-row .columns:hover i {
  color: #fff;
}
