body {
  background: rgb(0,114,162);
  font-family: "ff-dagny-web-pro";
}

h1, h2, h3, h4, h5 {
  font-family: "ff-dagny-web-pro";
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}


.top-bar {
  background: #fff;
}

.title-area {
  padding: 20px 0;
}

.title {
  height: 500px;
  padding: 160px 0 0 0;
}

.title h1,
.title h2 {
  text-align: center;
  color: #fff
}

.title > .columns {
  vertical-align: middle;
  height: 300px;
}

.middle-row {
  padding: 50px 0;
  background: rgba(0,85,121,0.25);
  margin-bottom: 50px;
}

i {
  font-size: 3.5rem;
  color: #e05857;
}

.middle-row p {
  text-align: center;
}

.middle-row h3 {
  text-align: center;
  font-size: 1em;
}

.middle-row .columns {
  padding: 25px 0;
  height: 250px;
}

.middle-row .columns:hover {
  background: rgba(1,1,1,0.5);
}

.middle-row h2{
  color: #fff;
  text-align: center;
}

.middle-row .columns h3,
.middle-row .columns h3 a {
  color: #fff;
}

.middle-row .columns:hover i {
  color: #fff;
}
